# Chapter 5. First-Class Functions

## Treating a function like an object

**Example 5-1.** Create and test a function, then read its '_doc_' and check its type.

* The _doc_ attribute is used to generate the help text of an object*

In [1]:
def factorial(n):
    '''return n!'''
    return 1 if n<2 else n*factorial(n-1)

In [2]:
factorial(42)

1405006117752879898543142606244511569936384000000000

In [3]:
factorial.__doc__ # __doc__ is one of several attributes of function objects

'return n!'

In [4]:
type(factorial)

function

**Example 5-2.** Use function through a different name, and pass function as argument

In [5]:
fact = factorial

In [6]:
fact

In [7]:
fact(5)

120

In [8]:
map(factorial, range(11))

In [9]:
list(map(fact,range(11)))

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

## Higher-Order Functions

* A function that takes a function as argument or returns a function as the result is a _higher-order function_.

**Example 5-3.** Sorting a list of words by length

In [10]:
fruits = ['strawberry','fig','apple','cherry','raspberry','banana']

In [11]:
sorted(fruits, key=len)

['fig', 'apple', 'cherry', 'banana', 'raspberry', 'strawberry']

**Example 5-4.** Sorting a list of words by their reversed spelling

In [12]:
def reverse(word):
    return word[::-1]

In [13]:
reverse('testing')

'gnitset'

In [14]:
sorted(fruits, key=reverse)

['banana', 'apple', 'fig', 'raspberry', 'strawberry', 'cherry']

* Some of the best known higher-order functions are map, filter, reduce, and apply.

**Example 5-5.** Lists of factorials produced with map and filter compared to alternatives coded as list comprehensions

In [15]:
list(map(fact,range(6)))

[1, 1, 2, 6, 24, 120]

In [16]:
[fact(n) for n in range(6)] # with a list comprehension

[1, 1, 2, 6, 24, 120]

In [17]:
list(map(factorial, filter(lambda n: n%2, range(6))))

[1, 6, 120]

In [18]:
[factorial(n) for n in range(6) if n%2]

[1, 6, 120]

**Example 5-6.** Sum of integers up to 99 performed with reduce and sum

In [19]:
from functools import reduce
from operator import add

In [20]:
reduce(add,range(100))

4950

In [21]:
sum(range(100))

4950

## Anonymous Functions

**Example 5-7.** Sorting a list of words by their reversed spelling using lambda

In [22]:
fruits = ['strawberry','fig','apple','cherry','rasperry','banana']

In [25]:
sorted(fruits,key=lambda word: word[::-1])

['banana', 'apple', 'fig', 'strawberry', 'cherry', 'rasperry']

## User-Defined callable types

**Example 5-8.** *bingocall.py*: A BingoCage does one thing: picks items from a shuffled list

In [26]:
import random 

class BingoCage:
    
    def __init__(self,items):
        self._items = list(items) # __init__ accepts any iterable
        random.shuffle(self._items) # shuffle is guaranteed to work b/c self._items is a list
        
    def pick(self):
        try:
            return self._items.pop()
        except IndexError:
            raise LookupError('pick from empty BingoCage')
    
    def __cal__(self):
        return self.pick()

In [30]:
bingo = BingoCage(range(3))

In [32]:
bingo.pick()

2

In [33]:
callable(bingo)

False

## Function Introspection

In [37]:
dir(factorial)

['__annotations__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

**Example 5-9.** Listing attributes of functions that don't exist in plain instances

* Table 5-1(in page 154) has the summary of the attributes. Could check as a good reference

In [39]:
class C: pass # Create bare user-defined class

In [41]:
obj = C() # Make an instance of it

In [42]:
def func(): pass # Create a bare function

In [43]:
sorted(set(dir(func)) - set(dir(obj))) # Using set difference, generate a 
# sorted list of the attributes that exist in a function but not in an 
# instance of bare class

['__annotations__',
 '__call__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__get__',
 '__globals__',
 '__kwdefaults__',
 '__name__',
 '__qualname__']

## From Positional to Keyword-only Parameters

* To specify keyword-only arguments when defining a function, name them after then argument prefixed with '*'.
* If we don't want to support variable positional arguments but still want keyword-only arguments, put a '*'

In [44]:
def f(a, *, b):
    return a,b

In [45]:
f(1,b=2)

(1, 2)

In [47]:
f(a=1,2)

SyntaxError: positional argument follows keyword argument (<ipython-input-47-d4ce3b03dc46>, line 1)

In [48]:
f(1,2)

TypeError: f() takes 1 positional argument but 2 were given

* Note that keyword-only arguments do not need to have a default value: they can be mandatory

## Retrieving inforamtion about parameters

**Example 5-12.** Bobo knows that hello requires a person argument, and retrieves it from the HTTP request

In [50]:
import bobo

@bobo.query('/')

def hello(person):
    return 'Hello %s!' % person

**Example 5-15.** Function to shorten a string by clipping at a space near the desired length

In [57]:
def clip(text, max_len=80):
    """Return text clipped at the last space before or after max_len
    """
    end = None
    
    if len(text) > max_len:
        space_before = text.rfind(' ', 0, max_len)
        
        if space_before >= 0:
            end = space_before
            
        else:
            space_after = text.rfind(' ', max_len)
            
            if space_after >= 0:
                end = space_after
                
    if end is None:  # no spaces were found
        end = len(text)
        
    return text[:end].rstrip()

## Packages for Functional Programming

**Example 5-21.** Factorial implemented with reduce and an anonymous function.

In [70]:
#The reduce(fun,seq) function is used to apply a particular function 
#passed in its argument to all of the list elements mentioned in the 
#sequence passed along.

In [67]:
from functools import reduce

In [68]:
def fact(n):
    return reduce(lambda a,b: a*b, range(1,n+1))

**Exampole 5-22.** Factorial implemented with reduce and operator.mul

In [72]:
from operator import mul

In [73]:
def fact(n):
    return reduce(mul, range(1, n+1))

**Example 5-23.** Demo of **itemgetter** to sort a list of tuples

* This example shows a common ued of **itemgetter**: sorting a list of tuples by the value of one filed. 
* In the example, the cities are printed sorted by country code (filed 1).
* Essentially, **itemgetter(1)** does the same as **lambda fields: fields[1]**: create a function that, given a collection, returns the item at index 1.

In [74]:
metro_data = [
    ('Tokyo','JP', 36.933, (35.689722,139.691667)),
    ('Delhi NCR','IN', 21.935, (28.613889,77.208889)),
    ('Mexico City','MX',20.142, (19.433333, -99.133333)),
    ('New York-Newark','US',20.104,(40.808611, -74.020386)),
    ('Sao Paulo','BR',19.649,(-23.547778,-46.635833))
]

In [75]:
from operator import itemgetter

In [80]:
for city in sorted(metro_data, key=itemgetter(1)):
    print(city)

('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833))
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
('Mexico City', 'MX', 20.142, (19.433333, -99.133333))
('New York-Newark', 'US', 20.104, (40.808611, -74.020386))

* If you pass multiple index arguments to **itemgetter**, the function it builds will return tuples with the extracted values:

In [87]:
cc_name = itemgetter(1,0)
print(cc_name)

operator.itemgetter(1, 0)

In [89]:
for city in metro_data:
    print(cc_name(city))

('JP', 'Tokyo')
('IN', 'Delhi NCR')
('MX', 'Mexico City')
('US', 'New York-Newark')
('BR', 'Sao Paulo')

**Example 5-24.** Demo of **attrgetter** to process a previously defined list of namedtuple called metro_data

In [90]:
from collections import namedtuple

In [91]:
LatLong = namedtuple('LatLong','lat long')

In [92]:
Metropolis = namedtuple('Metropolis','name cc pop coord')

In [95]:
metro_areas = [Metropolis(name, cc, pop, LatLong(lat, long)) 
               for name,cc,pop,(lat,long) in metro_data]

In [96]:
metro_areas[0]

Metropolis(name='Tokyo', cc='JP', pop=36.933, coord=LatLong(lat=35.689722, long=139.691667))

In [103]:
type(metro_areas)

list

In [97]:
metro_areas[0].coord.lat

35.689722

In [98]:
from operator import attrgetter

In [99]:
name_lat = attrgetter('name','coord.lat')

In [100]:
for city in sorted(metro_areas, key=attrgetter('coord.lat')):
    print(name_lat(city))

('Sao Paulo', -23.547778)
('Mexico City', 19.433333)
('Delhi NCR', 28.613889)
('Tokyo', 35.689722)
('New York-Newark', 40.808611)

**Example 5-25.** Demo of **methodcaller** : second test shows the binding of extra arguments

In [104]:
from operator import methodcaller

In [105]:
s = 'The time has come '

In [106]:
upcase = methodcaller('upper')

In [107]:
upcase(s)

'THE TIME HAS COME '

In [108]:
hiphenate = methodcaller('replace',' ','-')

In [109]:
hiphenate(s)

'The-time-has-come-'

In [110]:
str.upper(s)

'THE TIME HAS COME '

In [111]:
s.upper()

'THE TIME HAS COME '

**Example 5-26.** Using partial to use a two-argument function where a one-argument callable is required

In [112]:
from operator import mul
from functools import partial

In [113]:
triple = partial(mul,3)

In [114]:
triple(7)

21

In [115]:
list(map(triple,range(1,10)))

[3, 6, 9, 12, 15, 18, 21, 24, 27]

**Example 5-27.** Building a convenient Unicode normalizing function with **partial**

* **partial** takes a callable as first argument, followed by an arbitrary number of positional and keyword arguments to bind

In [116]:
import unicodedata, functools

In [117]:
nfc = functools.partial(unicodedata.normalize,'NFC')

In [118]:
s1='café'

In [119]:
s2='cafe\u0301'

In [120]:
s1,s2

('café', 'café')

In [121]:
s1==s2

False

In [123]:
nfc(s1) ==nfc(s2)

True